html, body {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    font-family: "nta", Arial, sans-serif;
}

#menubarNav a {
    color: lightgray;
}


.header-logo {
    margin: 10px 0px 0px 50px;
}

.banner {
    background-color: #0b0c0c;
}

#logo {
    color:white;
    font-weight: bold;
    font-size:30px;
    line-height:1;
    text-decoration:none;
    background-size: 36px 32px;
    background-position: 0 50px;
}



